.benefit .section {
  display: flex;
  align-items: center;
  gap: 50px;
}

.right-content {
  display: grid;
  grid-template-columns: 240px 240px;
  grid-template-rows: 240px 240px;
  gap: 1px;
  background-color: #eaecf0;
}

.right-content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 3em;
}

.right-content img {
  width: 5em;
  height: 5em;
}

.right-content .description {
  font-size: 1rem;
  line-height: 1.5em;
  margin-top: 2.5em;
  text-align: center;
}
