.products-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-left: 1px solid #eaecf0;
  border-right: 1px solid #eaecf0;
}

.products-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-btn .btn {
  background-color: #ffff;
  border: 1px solid #202124;
}
